@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
    text-decoration: none !important;
}


@font-face {
    font-family: "Agnostic";
    src: url("../agnostic/Agnostic.otf");
}

.font_agnotic {
    font-family: "Agnostic";
}

.font_poppins {
    font-family: "Poppins";
}

.font_roboto {
    font-family: "Roboto";
}

.dark-shadow {
    width: 100%;
    background: linear-gradient(#00000000, #000000C7);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 45%;
    display: none;
}

.shadow-h:hover .dark-shadow {
    border-radius: 17.393px;
    display: block;
}


.shadow-h:hover .ceo-text {
    border-radius: 17.393px;
    display: block;
}


.section-4-bg {
    background-image: url(../image/png/section-4-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.shadow-h:hover {
    box-shadow: 0px 4px 41px 0px rgba(254, 215, 16, 0.50);
    backdrop-filter: blur(31.574848175048828px);
}


/* .border-gradient{
    border-image-source: linear-gradient(to right,#FF5001, #FED710);
    border-image-slice: 1;
    border-image-width:2px;
    border-radius: 17.393px;
} */


.nft-pic {
    border-radius: 17.393px;
}

.ceo-text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
}

.s4-btns {
    padding: 12px 25px !important;
    border-radius: 100px !important;
    background: linear-gradient(180deg, #1B1B1B 0%, #090909 100%) !important;
    font-size: 20px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: normal !important;
    text-transform: capitalize !important;
    
}






.buy-btn {
    padding: 12px 35px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    background: linear-gradient(#FED710, #FF5001);
    border: none;
    border-radius: 90px;

}

.buy-btn:hover{
    opacity: 0.75;
    transition: all 300ms;
}

.percent-linear {
    background: linear-gradient(#FED710 20%, #FF5001 70%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.nav-pills .nav-link {
    border-radius: 100px !important;
}

.pt-custom{
    padding-top: 150px;
}


.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: unset !important;
    background: linear-gradient(#FED710, #FF5001) !important;
    color: white !important;
}


.box-s5 {
    border-radius: 17.34px;
    border: 1.259px solid #FF5001;
    background: linear-gradient(124deg, rgba(255, 255, 255, 0.10) 0%, rgba(255, 255, 255, 0.03) 101.73%);
    backdrop-filter: blur(31.478700637817383px);
    padding: 19px 20px;
    transition: all 400ms;
}

.box-s5:hover{
    scale: 1.1;
    
}



.box-s5::after {
    content: "";
    position: absolute;
    /* broder-radius should be same on both my_box and my_box::after */
    border-radius: 17.34px;
    /* this paadding is the width of border */
    padding: 1.259px;
    /* broder-color */
    background: linear-gradient(
        #FF5001 6%, #FED710 108%
    );
    /*  we are using below property instead of left-0 top-0 bottom-0 right-0 */
    inset: 0;
    /* height: 100%;
       width: 100%;
       top: 0;
       left: 0; */
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    /* the mask-composite property specifies that the XOR blending mode should be used to combine the mask image and the element's background. */
    -webkit-mask-composite: xor;
    pointer-events: none;
}


.nft1-box {
    border-radius: 17.393px;
    border: 1.263px;
}

.nft1-box::after {
    content: "";
    position: absolute;
    /* broder-radius should be same on both my_box and my_box::after */
    border-radius: 17.393px;
    /* this paadding is the width of border */
    padding: 1.263px;
    /* broder-color */
    background: linear-gradient(
        #FF5001 6%, #FED710 108%
    );
    /*  we are using below property instead of left-0 top-0 bottom-0 right-0 */
    inset: 0;
    /* height: 100%;
       width: 100%;
       top: 0;
       left: 0; */
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    /* the mask-composite property specifies that the XOR blending mode should be used to combine the mask image and the element's background. */
    -webkit-mask-composite: xor;
    pointer-events: none;
}



@media (min-width: 768px) {
    .box-s5 {
        padding: 25px 27px;
    }
    
}



