@import url(../css/root.css);
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
    padding: 0;
    margin: 0;
    list-style-type: none !important;
    text-decoration: none !important;
    box-sizing: border-box;

}

@font-face {
    font-family: "Agnostic";
    src: url("../agnostic/Agnostic.otf");
}

.font_poppins {
    font-family: "Poppins";

}

.font_agnotic {
    font-family: "Agnostic";
}

.bg_img {
    background-image: url(../image/png/bg_img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card1 {
    width: 80%;
    border-radius: 14.992px;
    border: 1.089px solid #FF5001;
    background: linear-gradient(124deg, rgba(255, 255, 255, 0.10) 0%, rgba(255, 255, 255, 0.03) 101.73%);
    backdrop-filter: blur(27.21642303466797px);
}

.box_postion {
    position: absolute;
    right: 0px;
    bottom: 6%;
    z-index: 1;
}

.box_postion1 {
    position: absolute;
    left: 0px;
    bottom: 0;
    z-index: 1;
}

.m-left {
    margin-left: 34px;
}

.box1 {
    border-radius: 17.34px;
    border: 1.259px solid #FF5001;
    background: linear-gradient(124deg, rgba(255, 255, 255, 0.10) 0%, rgba(255, 255, 255, 0.03) 101.73%);
    backdrop-filter: blur(31.478700637817383px);
}

.playbtn {
    height: 105px;
    width: 105px;
    border-radius: 140px;
    background: rgba(255, 80, 1, 0.30);
}

.playbtn1 {
    height: 65px;
    width: 65px;
    flex-shrink: 0;
    border-radius: 100px;
    background: #FF5001;
}

.playbtn2 {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 75px;
    background: #FED710;
}

.pos_playbtn {
    bottom: -12%;
    position: absolute;
    left: 39%;
}

.curser_pointer {
    cursor: pointer;
}

.footer_img_right {
    right: 0;
    position: absolute;
    bottom: 0;

}

.footer_img_left {
    left: 0;
    position: absolute;
    bottom: 0;

}

.footer_line {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 54px;
    background-color: #1B1919;
    z-index: -2;
}

.width1 {
    width: 406px;


}

.width2 {
    width: 100px;
}

.width_2 {
    width: 100px;
}

.pt55 {
    padding-top: 23px;

}

.pb91 {
    padding-bottom: 69px;
}

.icon-hover {
    border-radius: 50%;
    transition: all .3s ease-in-out;
}

.gradent {
    background: linear-gradient(180deg, #FED710 0%, #FF5001 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.crl_right1 {
    position: absolute;
    border-radius: 334px;
    width: 201px;
    height: 201px;
    transform: rotate(-162.487deg);
    border: red 1px solid;
    right: -9%;
    bottom: -20%;
}

.crl_right2 {
    width: 127.463px;
    height: 127.463px;
    transform: rotate(-162.487deg);
    border-radius: 127.463px;
    border: 1px dashed #FFAE01;
}

.crl_right3 {
    width: 96.415px;
    height: 96.415px;
    transform: rotate(-162.487deg);
    flex-shrink: 0;
    border-radius: 96.415px;
    border: 1px dashed #FFAE01;
}

a:hover svg {
    box-shadow: 0px 0px 15px 1px gold;
    border-radius: 50px;

}

@media (min-width:576px) {
    .playbtn {
        height: 115px;
        width: 115px;
        border-radius: 140px;
        background: rgba(255, 80, 1, 0.30);
    }

    .playbtn1 {
        height: 75px;
        width: 75px;
        flex-shrink: 0;
        border-radius: 100px;
        background: #FF5001;
    }

    .playbtn2 {
        width: 50px;
        height: 50px;
        flex-shrink: 0;
        border-radius: 75px;
        background: #FED710;
    }

    .box_postion {
        position: absolute;
        right: -22px;
        bottom: -3%;
        z-index: 1;
    }

    .box_postion1 {
        position: absolute;
        left: 0px;
        bottom: -25px;
        z-index: 1;
    }

    .width1 {
        width: 180px;
    }

    .width2 {
        width: 133px;
    }

    .width_2 {
        width: 152px;
    }

}

@media (min-width:768px) {
    .pos_playbtn {
        bottom: -20%;
        position: absolute;
        left: -13%;
    }

    .playbtn {
        height: 120px;
        width: 120px;
        border-radius: 140px;
        background: rgba(255, 80, 1, 0.30);
    }

    .playbtn1 {
        height: 80px;
        width: 80px;
        flex-shrink: 0;
        border-radius: 100px;
        background: #FF5001;
    }

    .playbtn2 {
        width: 55px;
        height: 55px;
        flex-shrink: 0;
        border-radius: 75px;
        background: #FED710;
    }

    .width2 {
        width: 160px;
    }

    .width_2 {
        width: 209px;
    }

    .box_postion {
        position: absolute;
        right: -38px;
        bottom: -4%;
        z-index: 1;
    }

    .box_postion1 {
        position: absolute;
        left: 0px;
        bottom: -6%;
        z-index: 1;
    }




}

@media (min-width:992px) {
    .pos_playbtn {
        bottom: -13%;
        position: absolute;
        left: -13%;
    }

    .pb91 {
        padding-bottom: 91px;
    }

    .pt55 {
        padding-top: 55px;

    }

    .playbtn {
        height: 140px;
        width: 140px;
        border-radius: 140px;
        background: rgba(255, 80, 1, 0.30);
    }

    .playbtn1 {
        height: 100px;
        width: 100px;
        flex-shrink: 0;
        border-radius: 100px;
        background: #FF5001;
    }

    .playbtn2 {
        width: 75px;
        height: 75px;
        flex-shrink: 0;
        border-radius: 75px;
        background: #FED710;
    }

    .width1 {
        width: 300px;
    }

    .width2 {
        width: 200px;
    }

    .width_2 {
        width: 240px;
    }

    .box_postion1 {
        position: absolute;
        left: 0px;
        bottom: -8%;
        z-index: 1;
    }

}

@media (min-width:1200px) {
    .box_postion1 {
        position: absolute;
        left: 0px;
        bottom: -9%;
        z-index: 1;
    }

    .width1 {
        width: 308px;
    }

    .crl_right1 {
        position: absolute;
        border-radius: 334px;
        width: 201px;
        height: 201px;
        transform: rotate(-162.487deg);
        border: red 1px solid;
        right: -4%;
        bottom: -20%;
    }

    .crl_right2 {
        width: 127.463px;
        height: 127.463px;
        transform: rotate(-162.487deg);
        border-radius: 127.463px;
        border: 1px dashed #FFAE01;
    }

    .crl_right3 {
        width: 96.415px;
        height: 96.415px;
        transform: rotate(-162.487deg);
        flex-shrink: 0;
        border-radius: 96.415px;
        border: 1px dashed #FFAE01;
    }

}