@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
}
.w_100 {
  width: 100%;
}
.font_poppins {
  font-family: "Poppins";
}
.font_roboto {
  font-family: "Roboto";
}
@font-face {
  font-family: "Agnostic";
  src: url("../agnostic/Agnostic.otf");
}
.font_agnotic {
  font-family: "Agnostic";
}
.connect_button {
  padding: 14px 22px;
  background: linear-gradient(#fed710, #ff5001) padding-box,
    linear-gradient(to right, #fed710, #ff5001) border-box;
  border: none !important;
  border-radius: 50px;
  box-shadow: 0 3px 8px #ff5001;
  transition: all 350ms linear;
}
.connect_button:hover {
  opacity: 0.75;
}
.z_30 {
  z-index: 30;
}
.h_100 {
  height: 500px;
}
.bg-hero {
  background-image: url("/assets/image/png/hero-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 0 !important;
}
.hero_1 {
  bottom: 0;
  left: 12%;
  width: 23%;
}
.hero_2 {
  bottom: 0;
  left: 32%;
  width: 20%;
}
.hero_3 {
  bottom: 0;
  right: 31%;
  width: 20%;
}
.hero_4 {
  bottom: 0;
  right: 10%;
  width: 23%;
}
.txt_small {
  background: linear-gradient(180deg, #fed710 -100%, #ff5001 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.liner_gridnt {
  background: linear-gradient(180deg, #fed710 0%, #ff5001 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.img-3 {
  mix-blend-mode: lighten;
}
.logo {
  mix-blend-mode: lighten !important;
}
.ellips {
  width: 334px;
  height: 334px;
  transform: rotate(-69.584deg);
  flex-shrink: 0;
  border-radius: 334px;
  background: #781d00;
  filter: blur(250px);
  top: 0;
  left: 0;
}
.circle {
  top: 4%;
  left: 0;
}
.ellips_1 {
  width: 334px;
  height: 334px;
  transform: rotate(-69.584deg);
  flex-shrink: 0;
  border-radius: 334px;
  background: #781d00;
  filter: blur(250px);
  bottom: -15%;
  right: 0 !important;
}
.circle_1 {
  bottom: -9% !important;
  right: -6%;
}
.ellips_2 {
  width: 334px;
  height: 334px;
  transform: rotate(-69.584deg);
  flex-shrink: 0;
  border-radius: 334px;
  background: #781d00;
  filter: blur(250px);
  bottom: 41%;
  left: 0 !important;
}
.circle_2 {
  bottom: 45% !important;
  left: -5%;
}
.ellips_3 {
  width: 334px;
  height: 334px;
  transform: rotate(-69.584deg);
  flex-shrink: 0;
  border-radius: 334px;
  background: #781d00;
  filter: blur(250px);
  bottom: 0;
  right: 0 !important;
  z-index: 50;
}
.circle_3 {
  bottom: -17%;
  right: -5%;
}
.ellips_4 {
  width: 334px;
  height: 334px;
  transform: rotate(-69.584deg);
  flex-shrink: 0;
  border-radius: 334px;
  background: #781d00;
  filter: blur(250px);
  bottom: -19%;
  right: 0 !important;
  z-index: 50;
}
.circle_4 {
  bottom: -17%;
  right: -5%;
}
.ellips_5 {
  width: 334px;
  height: 334px;
  transform: rotate(-69.584deg);
  flex-shrink: 0;
  border-radius: 334px;
  background: #781d00;
  filter: blur(250px);
  top: 30%;
  left: -4% !important;
  z-index: 50;
}
.circle_5 {
  top: 35%;
  left: -5%;
}
.ellips_6 {
  width: 334px;
  height: 334px;
  transform: rotate(-69.584deg);
  flex-shrink: 0;
  border-radius: 334px;
  background: #781d00;
  filter: blur(250px);
  bottom: 0;
  right: -4% !important;
  z-index: 50;
}
.circle_6 {
  bottom: 0;
  right: -5%;
}
.ellips_7 {
  width: 334px;
  height: 334px;
  transform: rotate(-69.584deg);
  flex-shrink: 0;
  border-radius: 334px;
  background: #781d00;
  filter: blur(250px);
  top: 8%;
  left: -4% !important;
  z-index: 50;
}
.circle_7 {
  top: 8%;
  left: -6%;
}
.ellips_8 {
  width: 334px;
  height: 334px;
  transform: rotate(-69.584deg);
  flex-shrink: 0;
  border-radius: 334px;
  background: #781d00;
  filter: blur(250px);
  bottom: 0;
  right: -4% !important;
  z-index: 50;
}
.circle_8 {
  bottom: -8%;
  right: -5%;
}
.ellips_9 {
  width: 334px;
  height: 334px;
  transform: rotate(-69.584deg);
  flex-shrink: 0;
  border-radius: 334px;
  background: #781d00;
  filter: blur(250px);
  bottom: 0;
  left: -4% !important;
  z-index: 50;
}
.line-3::after {
  position: absolute;
  content: "";
  width: 0%;
  height: 2px;
  bottom: -5;
  right: 50%;
  display: block;
  background-color: #fff;
  transition: all 600ms linear !important;
}
.line-3:hover::after {
  width: 100%;
  right: 0;
}
.nav {
  list-style-type: none !important;
}
ol,
ul {
  padding-left: 1rem !important;
}
#preloader-box {
  min-height: 100vh;
  width: 100%;
  top: 0;
  display: flex;
  align-items: center;
  background-color: #000;
  position: fixed;
  z-index: 700 !important;
}
.w_20 {
  width: 17%;
}
.loder-img {
  animation: spin 4s linear infinite;
}
.text_2 {
  line-height: 150% !important;
}
.rotate {
  animation: rotate 2s linear infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
.grident {
  background: linear-gradient(180deg, #fed710 0%, #ff5001 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.grident_2 {
  background: linear-gradient(180deg, #fed710 -8%, #ff5001 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.grident_3 {
  background: linear-gradient(180deg, #fed710 -40%, #ff5001 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.grident_4 {
  background: linear-gradient(180deg, #fed710 -20%, #ff5001 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.grident_5 {
  background: linear-gradient(180deg, #fed710 -71%, #ff5001 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.grident_6 {
  background: linear-gradient(180deg, #fed710 -100%, #ff5001 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.grident_7 {
  background: linear-gradient(180deg, #fed710 -100%, #ff5001 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* ankit */
.dark-shadow {
  width: 100%;
  background: linear-gradient(#00000000, #000000c7);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 45%;
  display: none;
}
.Explore_button {
  padding: 13px 25px;
  background: linear-gradient(#fed710, #ff5001) padding-box,
    linear-gradient(to right, #fed710, #ff5001) border-box;
  border: none !important;
  border-radius: 50px;
  box-shadow: 0 3px 8px #ff5001;
  transition: all 350ms linear;
}
.Explore_button:hover {
  opacity: 0.75;
}
.shadow-h:hover .dark-shadow {
  border-radius: 17.393px;
  display: block;
}
.shadow-h:hover .ceo-text {
  border-radius: 17.393px;
  display: block;
}
.section-4-bg {
  background-image: url(../image/png/section-4-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.shadow-h:hover {
  box-shadow: 0px 4px 41px 0px rgba(254, 215, 16, 0.5);
  backdrop-filter: blur(31.574848175048828px);
}
.nft-pic {
  border-radius: 17.393px;
}
.ceo-text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
}
.s4-btns {
  padding: 12px 25px !important;
  border-radius: 100px !important;
  background: linear-gradient(180deg, #1b1b1b 0%, #090909 100%) !important;
  font-size: 20px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: normal !important;
  text-transform: capitalize !important;
}
.buy-btn {
  padding: 12px 35px;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  background: linear-gradient(#fed710, #ff5001);
  border: none;
  border-radius: 90px;
  box-shadow: rgb(255, 80, 1) 0px 3px 8px;
  transition: all 350ms linear;
}
.buy-btn:hover {
  opacity: 0.75;
}
.percent-linear {
  background: linear-gradient(#fed710 20%, #ff5001 70%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.nav-pills .nav-link {
  border-radius: 100px !important;
}
.pt-custom {
  padding-top: 80px;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: unset !important;
  background: linear-gradient(#fed710, #ff5001) !important;
  color: white !important;
  box-shadow: 0 3px 8px #ff5001;
}
.box-s5 {
  border-radius: 20px;
  background: linear-gradient(
    124deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.03) 101.73%
  );
  backdrop-filter: blur(31.478700637817383px) !important;
  padding: 19px 20px;
  transition: all 400ms;
  box-shadow: 0 0 9px #ffae01;
  cursor: pointer;
}
.box-s5:hover {
  scale: 1.1;
}
.box-s5::after {
  content: "";
  position: absolute;
  border-radius: 20px;
  padding: 1.259px;
  background: linear-gradient(#ff5001 6%, #fed710 108%);
  inset: 0;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  pointer-events: none;
}
.nft1-box {
  border-radius: 17.393px;
  border: 1.263px;
  transition: all 350ms linear;
  cursor: pointer;
}
.nft1-box::after {
  content: "";
  position: absolute;
  border-radius: 17.393px;
  padding: 1.263px;
  background: linear-gradient(#ff5001 6%, #fed710 108%);
  inset: 0;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  pointer-events: none;
}
/* parhlad */
.bg_img {
  background-image: url("../image/png/bg_img.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.card1 {
  width: 90%;
  border-radius: 20px;
  background: linear-gradient(
    124deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.03) 101.73%
  );
  backdrop-filter: blur(27.21642303466797px);
  padding-left: 10px;
  padding-right: 10px;
}
.card1::after {
  content: "";
  position: absolute;
  border-radius: 20px;
  padding: 1.259px;
  background: linear-gradient(#ff5001 6%, #fed710 108%);
  inset: 0;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  pointer-events: none;
}
.box_postion {
  position: absolute;
  right: -3%;
  bottom: -4%;
  z-index: 1;
}
.box_postion1 {
  position: absolute;
  left: -3%;
  bottom: -4%;
  z-index: 1;
}
.m-left {
  margin-left: 34px;
}
.line-h-150 {
  line-height: 150%;
  font-style: normal;
}
.box1 {
  border-radius: 17.34px;
  background: linear-gradient(
    124deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.03) 101.73%
  );
  backdrop-filter: blur(31.478700637817383px);
}
.box1::after {
  content: "";
  position: absolute;
  border-radius: 20px;
  padding: 1.259px;
  background: linear-gradient(#ff5001 6%, #fed710 108%);
  inset: 0;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  pointer-events: none;
}
.playbtn {
  height: 105px;
  width: 105px;
  border-radius: 140px;
  background: rgba(255, 80, 1, 0.3);
}
.playbtn1 {
  height: 65px;
  width: 65px;
  flex-shrink: 0;
  border-radius: 100px;
  background: #ff5001;
}
.playbtn2 {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 75px;
  background: #fed710;
}
.pos_playbtn {
  bottom: -12%;
  position: absolute;
  left: 34%;
}
.curser_pointer {
  cursor: pointer;
}
.footer_img_right {
  right: 0;
  position: absolute;
  bottom: 0;
}
.footer_img_left {
  left: 0;
  position: absolute;
  bottom: 0;
}
.footer_line {
  width: 100%;
  height: 1px;
  background-color: #1b1919;
  z-index: -2;
}
.width1 {
  width: 406px;
}
.width2 {
  width: 100px;
}
.width_2 {
  width: 100px;
}
.pt55 {
  padding-top: 23px;
}
.pb91 {
  padding-bottom: 69px;
}
.icon-hover {
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}
.gradent {
  background: linear-gradient(180deg, #fed710 0%, #ff5001 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.crl_right1 {
  position: absolute;
  border-radius: 334px;
  width: 201px;
  height: 201px;
  transform: rotate(-162.487deg);
  border: red 1px solid;
  right: -9%;
  bottom: -20%;
}
.crl_right2 {
  width: 127.463px;
  height: 127.463px;
  transform: rotate(-162.487deg);
  border-radius: 127.463px;
  border: 1px dashed #ffae01;
}
.crl_right3 {
  width: 96.415px;
  height: 96.415px;
  transform: rotate(-162.487deg);
  flex-shrink: 0;
  border-radius: 96.415px;
  border: 1px dashed #ffae01;
}
a:hover svg {
  box-shadow: 0px 0px 15px 1px gold;
  border-radius: 50px;
}
@media (max-width: 1150px) {
  .mobile_view {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100% !important;
    background-color: transparent;
    backdrop-filter: blur(15px) !important;
    transition: 400ms linear;
    z-index: 10;
    flex-direction: column;
  }
  .overflow_hidden {
    overflow: hidden;
  }
  .line1,
  .line2,
  .line3 {
    width: 40px !important;
    min-height: 4px !important;
    background-color: #fff !important;
    transition: 300ms linear !important;
  }
  .cross .line1 {
    transform: rotate(50deg) translate(17px, 16px) !important;
  }
  .cross .line2 {
    transform: translateX(-50%) !important;
    opacity: 0;
  }
  .cross .line3 {
    transform: rotate(-50deg) translateY(-50%) !important;
  }
}
@media (min-width: 576px) {
  .h_100 {
    height: 630px;
  }
  .hero_1 {
    width: 25%;
  }
  .hero_2 {
    width: 20%;
  }
  .hero_3 {
    width: 20%;
  }
  .hero_4 {
    width: 25%;
  }
  .playbtn {
    height: 115px;
    width: 115px;
    border-radius: 140px;
    background: rgba(255, 80, 1, 0.3);
  }
  .playbtn1 {
    height: 75px;
    width: 75px;
    flex-shrink: 0;
    border-radius: 100px;
    background: #ff5001;
  }
  .playbtn2 {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 75px;
    background: #fed710;
  }
  .box_postion {
    position: absolute;
    right: -22px;
    bottom: -3%;
    z-index: 1;
  }
  .box_postion1 {
    position: absolute;
    left: 0px;
    bottom: -25px;
    z-index: 1;
  }
  .width1 {
    width: 180px;
  }
  .width2 {
    width: 133px;
  }
  .width_2 {
    width: 152px;
  }
}
@media (min-width: 768px) {
  .w_100 {
    width: 70%;
  }
  .h_100 {
    height: 730px;
  }
  .hero_1 {
    width: 25%;
  }
  .hero_2 {
    width: 20%;
  }
  .hero_3 {
    width: 20%;
  }
  .hero_4 {
    width: 25%;
  }
  .w_100 {
    width: 70%;
  }
  .box-s5 {
    padding: 22px 19px;
  }
  .pos_playbtn {
    bottom: -6%;
    position: absolute;
    left: -4%;
  }
  .playbtn {
    height: 120px;
    width: 120px;
    border-radius: 140px;
    background: rgba(255, 80, 1, 0.3);
  }
  .playbtn1 {
    height: 80px;
    width: 80px;
    flex-shrink: 0;
    border-radius: 100px;
    background: #ff5001;
  }
  .playbtn2 {
    width: 55px;
    height: 55px;
    flex-shrink: 0;
    border-radius: 75px;
    background: #fed710;
  }
  .width2 {
    width: 160px;
  }
  .width_2 {
    width: 209px;
  }
  .box_postion {
    position: absolute;
    right: -38px;
    bottom: -4%;
    z-index: 1;
  }
  .box_postion1 {
    position: absolute;
    left: 0px;
    bottom: -6%;
    z-index: 1;
  }
}
@media (min-width: 992px) {
  .w_100 {
    width: 60%;
  }
  .circle {
    top: 4%;
    left: -12%;
  }
  .hero_1 {
    width: 25%;
  }
  .hero_2 {
    width: 20%;
  }
  .hero_3 {
    width: 20%;
  }
  .hero_4 {
    width: 25%;
  }
  .w_100 {
    width: 60%;
  }
  .pos_playbtn {
    bottom: -11%;
    position: absolute;
    left: -10%;
  }

  .pb91 {
    padding-bottom: 91px;
  }

  .pt55 {
    padding-top: 60px;
  }

  .playbtn {
    height: 140px;
    width: 140px;
    border-radius: 140px;
    background: rgba(255, 80, 1, 0.3);
  }

  .playbtn1 {
    height: 100px;
    width: 100px;
    flex-shrink: 0;
    border-radius: 100px;
    background: #ff5001;
  }

  .playbtn2 {
    width: 75px;
    height: 75px;
    flex-shrink: 0;
    border-radius: 75px;
    background: #fed710;
  }

  .width1 {
    width: 300px;
  }

  .width2 {
    width: 180px;
  }
  .width_2 {
    width: 234px;
  }

  .box_postion1 {
    position: absolute;
    left: 0px;
    bottom: -8%;
    z-index: 1;
  }
}
@media (min-width: 1200px) {
  .min_vh_100 {
    min-height: 100vh;
  }
  .hero_1 {
    width: 23%;
  }
  .hero_2 {
    width: 20%;
  }
  .hero_3 {
    width: 20%;
  }
  .hero_4 {
    width: 23%;
  }
  .w_100 {
    width: 100%;
  }
  .box_postion1 {
    position: absolute;
    left: -3%;
    bottom: -9%;
    z-index: 1;
  }

  .width1 {
    width: 308px;
  }

  .crl_right1 {
    position: absolute;
    border-radius: 334px;
    width: 201px;
    height: 201px;
    transform: rotate(-162.487deg);
    border: red 1px solid;
    right: -4%;
    bottom: -20%;
  }

  .crl_right2 {
    width: 127.463px;
    height: 127.463px;
    transform: rotate(-162.487deg);
    border-radius: 127.463px;
    border: 1px dashed #ffae01;
  }

  .crl_right3 {
    width: 96.415px;
    height: 96.415px;
    transform: rotate(-162.487deg);
    flex-shrink: 0;
    border-radius: 96.415px;
    border: 1px dashed #ffae01;
  }
  .box_postion {
    position: absolute;
    right: -6%;
    bottom: -5%;
    z-index: 1;
  }
  .width2 {
    width: 294px;
  }
  .width_2 {
    width: 355px;
  }
}
@media (min-width: 1400px) {
  .circle {
    top: 4%;
    left: -6%;
  }
  .hero_1 {
    width: 25%;
  }
  .hero_2 {
    width: 20%;
  }
  .hero_3 {
    width: 20%;
  }
  .hero_4 {
    width: 25%;
  }
}
@media (min-width: 1920px) {
  .circle {
    top: 4%;
    left: -6%;
  }
  .hero_1 {
    width: unset;
  }
  .hero_2 {
    width: unset;
  }
  .hero_3 {
    width: unset;
  }
  .hero_4 {
    width: unset;
  }
  .pt-custom {
    padding-top: 150px;
  }
}
